.product-wrapper {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    text-align: center;
    margin: 1.5rem;
    width: 50%;
}
.card img {
    max-width: 100%;
}
.card .btn {
    width: 60%;
    margin: 0 auto 1rem;
}
.cart-icon {
    font-size: 25px;
}
.cart-icon:hover {
    color: rgba(2, 2, 2, 0.664);
}
.cart-wrapper {
    color: black;
}
.cart-icon-link:hover {
    text-decoration: none;
}
.logo-image {
    height: 50px;
    width: 50px;
    margin: 0;
}
.stock-status {
    font-size: 10px;
}
.available {
    color: green;
}
.not-available {
    color: red;
}
.cart-close-icon:hover {
    cursor: pointer;
} 
.fa-minus-circle, .fa-plus-circle {
    margin: 0 5px;
}
.fa-minus-circle:hover, .fa-plus-circle:hover {
    cursor: pointer;
}
.btn {
    background-color: black;
    color: white;
    max-width: 150px;
}
.btn:hover {
    background-color: black;
    color: white;
}
.card {
    font-family: 'Raleway', sans-serif;
}
.header {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.product-price {
    font-size: 15px;
}
.empty-cart {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 800px) {
    .card {
        width: 90%;
    }
    .header {
        font-size: 20px;
    }
    .product-wrapper {
        flex-direction: column;
        align-items: center;
    }
}