.contact-form {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}


.text {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

input {
    width: 50%;
    padding: 0 5;
}

textarea {
    width: 100%;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;

}

/* knappen på kontakt */
.wpcf7-submit {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    max-width: 150px;
}

.product-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    text-align: center;
    margin: 1.5rem;
    width: 50%;
}

.card img {
    max-width: 100%;
}

.card .btn {
    width: 60%;
    margin: 0 auto 1rem;
}

.cart-icon {
    font-size: 25px;
    color: whitesmoke;
}

.cart-icon:hover {
    font-weight: bold;
}

.cart-wrapper {
    color: black;
}

.cart-header {
    font-family: 'Raleway', sans-serif;
}

.cart-icon-container {
    color: white;
}

.cart-icon-link:hover {
    text-decoration: none;
}

.logo-image {
    height: 50px;
    width: 50px;
    margin: 0;
}

.stock-status {
    font-size: 10px;
}

.available {
    color: green;
}

.not-available {
    color: red;
}

.cart-close-icon:hover {
    cursor: pointer;
}

.fa-minus-circle,
.fa-plus-circle {
    margin: 0 5px;
}

.fa-minus-circle:hover,
.fa-plus-circle:hover {
    cursor: pointer;
}

.btn {
    background-color: black;
    color: white;
    max-width: 150px;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: black;
    color: white;
}

.card {
    font-family: 'Raleway', sans-serif;
}

.header {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.product-price {
    font-size: 15px;
}

.empty-cart {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #202020;
    height: 70px;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.cart-nav-icon {
    justify-content: end;
    margin-bottom: 1.5rem;
}

.cart-count {
    margin-right: 5px;
    text-align: center;
}

.burger-menu {
    display: none;
}

.navbar-brand {
    margin: 0 0 30px 0;
}

.logo-two {
    display: none;
}

.cart-element-shippingmethod-input {
    display: inline-flex;
    align-items: center;
    width: 120px;
}

.cart-element-shippingmethod-input p {
    padding: 5px;
}

.table td,
.table th {
    vertical-align: middle;
}

.cart-element-payment-input {
    display: inline-flex;
    align-items: center;
    width: 120px;
}

.swish-icon {
    width: 79px;
    height: 60px;
}

.confirmation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border: 1px solid lightgray;
    padding: 1rem;
    margin: 2rem;
}

.info-wrapper {
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    font-size: 28px;
}

.pages {
    margin-top: 10px;
}

.cart-icon-link {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .cart-icon-link {
        margin-top: 0;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .text {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
    }

    .delivery-method-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .header {
        font-size: 20px;
    }

    .product-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .pages {
        margin-top: 0;
    }
}