.product-wrapper {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    text-align: center;
    margin: 1.5rem;
    width: 50%;
}
.card img {
    max-width: 100%;
}
.card .btn {
    width: 60%;
    margin: 0 auto 1rem;
}
.cart-icon {
    font-size: 25px;
    color: whitesmoke;
}
.cart-icon:hover {
    font-weight: bold;
}
.cart-wrapper {
    color: black;
}
.cart-header {
    font-family: 'Raleway', sans-serif;
}
.cart-icon-container {
    color: white;
    font-family: 'Raleway', sans-serif;
}
.cart-icon-link:hover {
    text-decoration: none;
}
.logo-image {
    height: 50px;
    width: 50px;
    margin: 0;
}
.stock-status {
    font-size: 10px;
}
.available {
    color: green;
}
.not-available {
    color: red;
}
.cart-close-icon:hover {
    cursor: pointer;
} 
.fa-minus-circle, .fa-plus-circle {
    margin: 0 5px;
}
.fa-minus-circle:hover, .fa-plus-circle:hover {
    cursor: pointer;
}
.btn {
    background-color: black;
    color: white;
    max-width: 150px;
}
.btn:hover {
    background-color: black;
    color: white;
}
.card {
    font-family: 'Raleway', sans-serif;
}
.header {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.product-price {
    font-size: 15px;
}
.empty-cart {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 70px;
}
.pages {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.nav-link {
    color: #ffffff;
    padding-top: 30px;
}
.nav-link:hover {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
.cart-nav-icon {
    justify-content: end;
}
.cart-count {
    margin-right: 5px;
    text-align: center;
}
.burger-menu {
    display: none;
}
.navbar-brand {
    margin: 0 0 30px 0;
}
.logo-two {
    display: none;
}

@media (max-width: 800px) {
    .card {
        width: 90%;
    }
    .header {
        font-size: 20px;
    }
    .product-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .pages {
        display: none;
    }
    .cart-nav-icon {
        display:none;
    }
    .burger-menu {
        display: flex;
    }
    .logo-one {
        display: none;
    }
    .logo-two {
        display: flex;
        align-items: center;
    }
}